mat-card-content {
  /* max-height: 110px; */
  height: 102px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-card-header-text {
  text-align: center;
  margin: 0 auto;
}
.mat-card-title {
  font-size: 18px;
}
