<div class="content-container">
  <div class="content-area">

    <!-- block sort and search -->
    <div class="clr-row">

      <div class="panel-sort-serch">

        <div class="panel-favourite">
          <span>В избранном: {{countFavourite.length}} </span>
        </div>

        <div class="panel-search">
          <app-film-search (valSearch)='searchFilms($event)'></app-film-search>
          <div *ngIf='!this.filmsData.length' [ngClass]="{ 'msg-align': true }">
            ФИЛЬМОВ ПО ВАШЕМУ ЗАПРОСУ НЕ НАЙДЕННО.
          </div>
        </div>

        <div class="panel-sorting">
          <clr-dropdown (click)='sortingHandler($event)'>
            <button type="button" class="btn btn-outline-primary" clrDropdownTrigger #dropDownSort>
              SORT BY NAME
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button type="button" clrDropdownItem *ngFor="let item of options" [attr.data-sort]="item.value">{{item.name}}</button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>
    </div>
    <!-- end block sort and search -->

    <div class="clr-row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let film of filmsData; index as index">
        <app-film-item [film]="film" (addfavorite)='updateFavourite(film)'></app-film-item>
      </div>
    </div>
  </div>
</div>

<div class="clr-row">
  <div class="btn-page">
    <button class="btn btn-primary btn-next" (click)='showPage()' [hidden]='isHidden' [disabled]='filmsData.length >= countItem'>Показать еще ...</button>
  </div>
</div>