.mat-toolbar-row {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* search panel */
.panel-sort-serch {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border: 1px dashed tomato; */
  width: 100vw;
  height: 100px;
}

.btn-page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-next {
  margin: 15px 0;
}
.panel-sort-serch,
.btn-page {
  width: 100vw;
}

.msg-align {
  text-align: center;
}
